.root{
  width: 100vw;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.countryCard{
  width: 80%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 1rem;
}

.flag{
  width: 5rem;
}

button{
  height: 2rem;
  margin: 0.5rem;
}

.background{
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  opacity: 0.5;
}