.root{
  width: 100vw;
}

.App {
  text-align: center;
}

.todos{
  display: flex;
  justify-content: center;
}

.todo{
  margin: 0.5rem;
}

.strike{
  text-decoration: line-through;
}

input{
  height: 2rem;
}

button{
  height: 2rem;
  margin: 0.5rem;
}