#root {
  width: 100vw;
  margin: 0;
}

#root .App {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#root .App #searchBar {
  height: 3rem;
  margin: 1rem;
}

#root .App button {
  width: 6rem;
  height: 3.5rem;
}

#root .App .info {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff0;
  z-index: 10;
}

#root .App .info .background {
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fffe;
  border-radius: 2rem;
  z-index: 101;
}

#root .App .info .background .countryInfo {
  margin-top: 20%;
}

#root .App .info .background img {
  width: 40%;
}

#root .App .cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root .App .cardContainer .countryCard {
  position: relative;
  width: 40%;
  height: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  background-color: #a2f5;
  border-radius: 0.5rem;
}

#root .App .cardContainer .countryCard .countryListName {
  font-size: 32px;
  margin-top: 1rem;
  margin-bottom: 0;
  z-index: 1;
}

#root .App .cardContainer .countryCard .flag {
  width: 6rem;
  overflow: hidden;
  z-index: 0;
}

#root .App .cardContainer .countryCard .readMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  width: 6rem;
  height: 2rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
  -webkit-transition: 50ms;
  transition: 50ms;
  z-index: 1;
}

#root .App .cardContainer .countryCard .readMore:hover {
  width: 7rem;
  height: 3rem;
}
/*# sourceMappingURL=style.css.map */