#root{
    width: 100vw;
    margin: 0;
    .App{
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        #searchBar{
            height: 3rem;
            margin: 1rem;
        }
        button{
            width: 6rem;
            height: 3.5rem;
        }
        .info{
            position: fixed;
            top: 0px;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff0;
            z-index: 10;
            .background{
                width: 80%;
                height: 80%;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                background-color: #fffe;
                border-radius: 2rem;
                z-index: 101;
                .countryInfo{
                    margin-top: 20%;
                }
                img{
                    width: 40%;
                }
            }
        }
        .cardContainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .countryCard{
                position: relative;
                width: 40%;
                height: 14rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin: 1rem;
                background-color: #a2f5;
                border-radius: 0.5rem;
                .countryListName{
                    font-size: 32px;
                    margin-top: 1rem;
                    margin-bottom: 0;
                    z-index: 1;
                }
                .flag{
                    width: 6rem;
                    overflow: hidden;
                    z-index: 0;
                }
                .readMore{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                    width: 6rem;
                    height: 2rem;
                    padding: 0.2rem;
                    border-radius: 0.3rem;
                    transition: 50ms;
                    z-index: 1;
                }
                .readMore:hover{
                    width: 7rem;
                    height: 3rem;
                }
            }
        }
    }
}